@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;

  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 13rem;

  background-color: #000;
}

.title {
  color: #fff;

  font-size: 40px;
  font-weight: 600;

  font-family: "Syne", sans-serif;

  max-width: 45%;
}

.separetor {
  color: #d1d1d1;

  margin-top: 5rem;
  margin-bottom: 2rem;
}

.formContent {
  display: flex;
  flex-direction: row;

  text-align: center;

  gap: 4rem;
}

.leftForm {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  width: 100%;
}

.rightForm {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 1.5rem;
}

.inputField {
  color: #d1d1d1;

  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  text-align: center;

  padding: 1rem 0;

  border-radius: 40px;

  background-color: #00000000;

  border: 1px solid #d1d1d1;
}

.selectField {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: #fff;

  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  text-align: center !important;

  padding: 1rem 0;

  border-radius: 40px;

  background-color: #00000000;

  border: 1px solid #d1d1d1;

  background-image: url("/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px;
}

.selectField option {
  color: #d1d1d1;
  background-color: #000;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
  box-shadow: 0 0 0px 1000px #00000000 inset;
  -webkit-text-fill-color: #a900d3 !important;
}

.selectField:-webkit-autofill,
.selectField:-webkit-autofill:hover,
.selectField:-webkit-autofill:focus,
.selectField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  box-shadow: 0 0 10px 1000px #00000000 inset;
  -webkit-text-fill-color: #a900d3 !important;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2.5rem;

  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  border: 1px solid #a900d3;
  border-radius: 25px;

  box-shadow: 0px 0px 15px #a7008096;

  background-color: #a900d3;

  max-height: 3.3rem;

  &:hover {
    cursor: pointer;
    animation: pulse 1.5s infinite;
  }
}

.required {
  color: #ff0000;

  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  margin-top: -0.5rem;
  margin-bottom: -0.5rem;

  text-align: center;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .title {
    max-width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;

    padding-bottom: 8rem;
    padding-top: 0;
  }

  .title {
    font-size: 24px;
    max-width: 100%;
  }

  .separetor {
    margin-top: 3rem;
  }

  .formContent {
    flex-direction: column;
    gap: 1.5rem;
  }

  .inputField {
    font-size: 10px;
  }

  .selectField {
    font-size: 10px;
    text-align: center;
  }

  .submitButton {
    font-size: 12px;
  }
}
