@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: row;

  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 9rem;

  background-color: #fbf6e4;

  gap: 4rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  width: 60%;
  height: 100%;

  border-radius: 2.2rem;

  padding: 4rem 3rem;

  background-color: #353535;

  input {
    background-color: #1e1e1e;
    color: #656565;

    font-size: 16px;
    font-weight: 400;

    font-family: "Noto Sans", sans-serif;

    padding: 1rem 2rem;

    border: 1px solid #656565;
    border-radius: 1rem;

    width: 100%;
  }

  select {
    background-color: #1e1e1e;
    color: #656565;

    font-size: 16px;
    font-weight: 400;

    font-family: "Noto Sans", sans-serif;

    padding: 1rem 2rem;

    border: 1px solid #656565;
    border-radius: 1rem;

    width: 100%;
  }

  textArea {
    background-color: #1e1e1e;
    color: #656565;

    font-size: 16px;
    font-weight: 400;

    font-family: "Noto Sans", sans-serif;

    padding: 1rem 2rem;

    border: 1px solid #656565;
    border-radius: 1rem;

    width: 100%;

    min-height: 12rem;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  width: 40%;
  height: 100%;

  border-radius: 2.2rem;

  padding: 4rem 3rem;

  background-color: #353535;
}

.title {
  color: #00baa1;

  font-size: 32px;
  font-weight: 600;

  font-family: "Noto Sans", sans-serif;

  span {
    color: #00baa1;
  }
}

.subtitle {
  color: #d9d9d9;

  font-size: 24px;
  font-weight: 500;

  font-family: "Noto Sans", sans-serif;

  span {
    color: #00baa1;
  }
}

.description {
  color: #656565;

  font-size: 16px;
  font-weight: 400;

  font-family: "Noto Sans", sans-serif;
}

.line {
  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: #949494;
  color: #656565;
  border-color: #9b9b9b;
}

/* styles.module.scss */

/* Estilos para o contêiner dos packs */
.packs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pack,
.packActive {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: calc(25% - 1rem); /* Ajuste para 4 packs por linha */
  cursor: pointer;
  text-align: center;
}

.pack p,
.packActive p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.pack p {
  color: #656565;
}

.packActive p {
  color: #00baa1;
}

.packActive img {
  border: 3px solid #00baa1;
  border-radius: 24px;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  .pack,
  .packActive {
    width: calc(
      50% - 1rem
    ); /* Ajuste para 2 packs por linha em dispositivos móveis */
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 15%;
    height: auto;
  }

  .label {
    color: #d9d9d9;

    font-size: 16px;
    font-weight: 400;

    font-family: "Noto Sans", sans-serif;

    max-width: 30%;
  }

  .value {
    color: #00dc3e;

    font-size: 32px;
    font-weight: 600;

    font-family: "Noto Sans", sans-serif;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;

  gap: 2rem;

  margin-top: 1rem;
}

.ctaButton {
  padding: 0.2rem 1.5rem;

  color: #353535;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;

  border-radius: 16px;
  border: none;

  height: 3.5rem;

  background-color: #ffe16d;

  padding: 0 2.5rem;

  margin-top: 2.5rem;

  &:hover {
    cursor: pointer;
  }
}

.ourButton {
  padding: 1rem 2.5rem;

  color: #d1d1d1;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  border: 1px solid #d1d1d1;
  border-radius: 25px;

  box-shadow: 0px 0px 10px #9494948a;

  background-color: #a900d300;

  &:hover {
    cursor: pointer;
    animation: pulse 1.5s infinite;
  }
}

.light {
  display: none;
}

@media screen and (min-width: 2100px) {
  .container {
    border-right: 1px solid #000;
    margin-right: -0.2rem;

    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 1440px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .leftContainer {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 9rem;
  }

  .ctaButton {
    font-size: 10px;
  }

  .ourButton {
    font-size: 10px;
  }

  .navItem {
    font-size: 12px;
  }

  .title {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;

    flex-direction: column;
  }

  .rightContainer {
    width: 100%;
    border-radius: 1.3rem;

    padding: 4rem 2rem;
  }

  .leftContainer {
    width: 100%;

    border-radius: 1.3rem;

    padding: 4rem 2rem;

    input {
      font-size: 12px;
    }

    select {
      font-size: 12px;
    }

    textArea {
      font-size: 12px;
      min-height: 12rem;
    }
  }

  .title {
    font-size: 26px;
  }

  .inputs {
    flex-direction: column;

    input {
      font-size: 12px;
    }
  }

  .description {
    font-size: 16px;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 0.5rem;
  }

  .ctaButton {
    font-size: 12px;
    padding: 0.8rem 2.5rem;
  }

  .ourButton {
    font-size: 12px;
    padding: 0.8rem 2.5rem;
  }
}
