@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;

  padding-top: 6rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 7.5rem;

  background-color: #1a1919;
}

.title {
  color: #fff;

  font-size: 40px;
  font-weight: 600;

  font-family: "Syne", sans-serif;

  max-width: 65%;

  span {
    color: #a900d3;
  }
}

.description {
  color: #dedede;

  font-size: 20px;
  font-weight: 500;

  font-family: "Syne", sans-serif;

  margin-top: 2rem;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.desc {
  color: #474747;

  font-size: 20px;
  font-weight: 500;

  font-family: "Syne", sans-serif;

  margin-top: 2rem;
}

.separetor {
  color: #d1d1d1;

  margin-top: 5rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    color: #656565;

    font-size: 16px;
    font-weight: 400;

    font-family: "Noto Sans", sans-serif;
  }

  img {
    width: 10rem;
    height: auto;
  }
}

.footerMobile {
  display: none;
}

@media screen and (min-width: 2100px) {
  .container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 1440px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .title {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .ctaButton {
    font-size: 10px;
  }

  .ourButton {
    font-size: 10px;
  }

  .navItem {
    font-size: 12px;
  }

  .title {
    font-size: 28px;
  }

  .inputField {
    font-size: 12px;
  }

  .selectField {
    font-size: 12px;
  }

  .submitButton {
    font-size: 12px;
  }

  .metaValue {
    font-size: 32px;
  }

  .metaDescription {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: 5rem;
    padding-bottom: 5rem;

    flex-direction: column;
  }

  .subTitleContainer {
    img {
      width: 1rem;
    }
  }

  .subTitle {
    font-size: 12px;
  }

  .title {
    font-size: 26px;

    width: 100%;
    max-width: 100%;
  }

  .description {
    font-size: 12px;

    max-width: 100%;
  }

  .separetor {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .footerMobile {
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
      width: 12rem;

      margin-top: 5rem;
    }
  }

  .desc {
    font-size: 16px;
  }

  .infosContent {
    display: flex;
    flex-direction: row;

    gap: 4rem;
  }

  .leftInfo {
    width: 50%;
  }

  .rightInfo {
    max-width: 50%;
  }

  .footer {
    flex-direction: column;

    text-align: center;

    gap: 3rem;
  }
}
